/* ************************************************************************************* */

body {
    background-color: #000000;
    color: white;
    /* overflow: hidden; */
}

/* ************************************************************************************* */

.header {
    /* background-color: purple; */
    height: 15vh;
    margin: 0 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Kode Mono", monospace;
}
.header img {
    height: 15vh;
    width: 15vh;
}
.tabs a {
  position: relative;
  display: inline-block;
  font-size: x-large;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  transition: all 0.3s ease;
  opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 5s forwards;
}
.tabs a:hover {
  /* color: #000000; */
  text-shadow: 0 0 3px whitesmoke
}
.tabs a::after {
  content: "---->";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: white;
}
.tabs a:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(20px);
}

/* ************************************************************************************* */

.container {
    /* background-color: yellow; */
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ************************************************************************************* */

.title {
    /* background-color: red; */
    height: 55vh;
    width: 65vw;
    margin: 10vh 0 0 5vw;
    font-size: 12vw;
    font-family: "Kumar One", serif;
    letter-spacing: -10px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 1s forwards;
}
.title p {
    padding: 0;
    margin: 0;
}
.title p:nth-child(2) {
    position: relative;
    top: -10vh;
}

/* ************************************************************************************* */

.maskedImage img{
    position: fixed;
    height: 115vh;
    top: 5vh;
    left: 18vw;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 2s forwards;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ************************************************************************************* */

.bottomPart {
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    font-family: "Kode Mono", monospace;
}

.tagline {
    /* background-color: purple; */
    width: 20vw;
    font-size: x-large;
    font-weight: 500;
    position: relative;
    left: -12vw;
    top: -4vh;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 3s forwards;
}
.tagline img {
    width: 7vw;
    position: absolute;
    left: 14vw;
    filter: invert(1);
    top: 5vh;
}

.startExperience {
    background-color: white;
    color: black;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    height: fit-content;
    border-radius: 15px;
    position: relative;
    left: -7vw;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 4s forwards;
}
.startExperience:hover {
    box-shadow: 0px 0 10px 0px white;
}
.startExperience a {
    /* background-color: purple; */
    width: 50%;
    font-weight: 600;
    /* margin: 5px; */
}
.startExperience img {
    width: 4vw;
    position: relative;
}

.contact {
    /* background-color: purple; */
    display: flex;
    height: fit-content;
    padding: 5px;
    position: relative;
    top: 4vh;
    left: 13vw;
}
.contact a img {
    height: 25px;
    width: 25px;
    filter: invert(1);
    margin: 0 10px;
    transition: transform 0.3s ease;
}
.contact a img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 3px #fff);
}

/* ************************************************************************************* */

.SignInContainer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.SignInBox {
    /* background-color: red; */
    height: fit-content;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    border-radius: 25px;
}
.SignInUpperPart {
    /* background-color: purple; */
    width: 75%;
}
.SignInUpperPart h1 {
    text-align: center;
    font-family: "Kumar One", serif;
    font-size: xx-large;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 1s forwards;
}
.SignInUpperPart p {
    text-align: center;
    font-family: "Kode Mono", monospace;
    font-size: large;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 1.5s forwards;
}
.SignInBox Form {
    /* background-color: purple; */
    font-family: "Kode Mono", monospace;
    margin: 3vh auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 4px 4px 10px 0px white;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 2s forwards;
}
.SignInBox .formLabel {
    font-size: 2.5vh;
}
.SignInBox Form button {
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
}
.SignInBox Form button:hover {
    box-shadow: 0 0 10px 3px white;
    border-radius: 20px;
    padding: 0px 5px;
}
.SignInLowerPart {
    /* background-color: purple; */
    font-family: "Kode Mono", monospace;
    font-size: large;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 3s forwards;
}
.SignInLowerPart .SignInLowerPartLink {
    font-family: "Kumar One", serif;
}
.SignInLowerPart .SignInLowerPartLink:hover {
    text-decoration: underline;
}

/* ************************************************************************************* */

nav {
    /* background-color: red; */
    height: fit-content;
}
.NavContainer {
    /* background-color: purple; */
    padding: 5px;
    margin: 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NavContainer a {
    /* background-color: yellow; */
    width: 18%;
    display: flex;
    font-family: "Kumar One", serif;
    font-size: x-large;
    align-items: center;
    gap: 5px;
}
.NavContainer a img{
    width: 100px;
    height: 75px;
}
.NavContainer span {
    font-family: "Kode Mono", monospace;
    font-size: xx-large;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 0.5s forwards;
}
.NavContainer button {
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    /* width: fit-content; */
    /* margin: auto; */
}
.NavContainer button:hover {
    box-shadow: 0 0 10px 3px white;
    border-radius: 20px;
    color: white;
}

/* ************************************************************************************* */

.DashboardContainer {
    /* background-color: purple; */
    margin: auto 2vw;
    padding: 15px;
    max-height: 75vh;
    overflow-y: scroll;
}
.DashboardContainer::-webkit-scrollbar {
    width: 0;
}
.DashboardContainer h1 {
    text-align: center;
    font-family: "Kumar One", serif;
    font-size: xx-large;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 1s forwards;
}
.CopyLink {
    /* background-color: red; */
    font-family: "Kode Mono", monospace;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.LinkContainer {
    display: flex;
    align-items: center;
}
.LinkContainer input {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 1.5s forwards;
}
.LinkContainer button {
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}
.LinkContainer button:hover {
    box-shadow: 0 0 10px 3px white;
    border-radius: 20px;
    color: white;
}
.AcceptingMessagesContainer {
    /* background-color: yellow; */
    width: fit-content;
    padding: 15px 0 0 0;
    display: flex;
    align-items: center;
    font-family: "Kode Mono", monospace;
    font-size: large;
    margin-bottom: 2px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 2s forwards;
}
.ReloadButton button {
    background-color: white;
    color: black;
    margin-top: 12px;
    position: relative;
    left: 95%;
    /* width: 100%; */
}
.ReloadButton button:hover {
    box-shadow: 0 0 5px 1px white;
    border-radius: 20px;
}
.CardContainer {
    background-color: black;
    /* border: 1px solid white; */
    color: white;
    font-family: "Kode Mono", monospace;
    font-size: large;
    box-shadow: 3px 3px 5px 0.1px white ;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 3s forwards;
}
.deleteButton {
    background-color: white;
    color: black;
}
.deleteButton:hover {
    box-shadow: 0 0 5px 1px white;
    border-radius: 20px;
}

/* ************************************************************************************* */

.AlertDialogBox {
    color: black;
    border: 3px solid black;
}
.CancelButton {
    border: 2px solid black;
    background-color: white;
}
.CancelButton:hover {
    box-shadow: 0 0 5px 1px black;
    border-radius: 20px;
}
.ContinueButton {
    background-color: black;
    color: white;
}
.ContinueButton:hover {
    box-shadow: 0 0 5px 1px black;
    border-radius: 20px;
}

/* ************************************************************************************* */

.PublicContainer {
    /* background-color: purple; */
    height: 100vh;
    margin: auto;
    padding: 5vh;
}
.PublicContainer h1 {
    text-align: center;
    font-family: "Kumar One", serif;
    font-size: xx-large;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 1s forwards;
}
.PublicContainer .formLabel {
    font-family: "Kode Mono", monospace;
    font-size: 2.5vh;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 1.5s forwards;
}
.PublicContainer .sendItButton {
    border: 2px solid black;
    background-color: white;
    color: black;
}
.PublicContainer .sendItButton:hover {
    box-shadow: 0 0 5px 1px black;
    border-radius: 20px;
}
.suggestMessages {
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-family: "Kumar One", serif;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 2s forwards;
}
.suggestMessages:hover {
    box-shadow: 0 0 5px 1px white;
    border-radius: 20px;
}
.clickToSelect {
    font-family: "Kode Mono", monospace;
    font-size: medium;
}
.SuggestMessagesContainer {
    font-family: "Kode Mono", monospace;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 2.5s forwards;
}
.SuggestMessagesContainer h3{
    font-size: x-large;
}
.SuggestMessagesContainer p {
    font-size: large;
}
.geminiSuggestedMessages {
    border: 1px solid black;
    color: black;
    /* width: 90%; */
}
.OnBoardContainer {
    /* background-color: red; */
    font-family: "Kode Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.OnBoardContainer div {
    font-size: larger;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 3s forwards;
}
.OnBoardContainer button {
    background-color: white;
    color: black;
    font-family: "Kumar One", serif;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-in-out 3.5s forwards;
}
.OnBoardContainer button:hover {
    box-shadow: 0 0 5px 1px white;
    border-radius: 20px;
}

/* ************************************************************************************* */
/* ************************************************************************************* */

@media (min-width: 300px) and (max-width: 800px) {
    .title {
        /* background-color: purple; */
        width: 90%;
        font-size: 9.5vh;
        letter-spacing: -4px;
    }
    .title p:nth-child(2) {
        top: 0;
    }
    .maskedImage img {
        left: 22vw;
    }
    .tagline {
        /* background-color: red; */
        width: 100%;
        font-size: 16px;
        left: 3vw;
        top: -30vh;
    }
    .tagline img {
        display: none;
    }
    .startExperience {
        top: -15vh;
        left: 12vw;
        font-size: 16px;
        padding: 7px;
        justify-content: unset;
    }
    .startExperience img {
        width: 13vw;
        position: relative;
        top: 4vh;
    }
    .contact {
        padding: 0;
        top: 5vh;
        left: -78vw;
        gap: 10px;
    }
    .SignInBox {
        margin: 0 3vw;
    }
    .SignInUpperPart h1 {
        font-size: x-large;
    }
    .SignInUpperPart p {
        font-size: medium;
    }
    .NavContainer span {
        /* background-color: red; */
        position: absolute;
        top: 12vh;
        width: 95%;
        margin: auto;
        font-size: x-large;
        text-align: center;
    }
    .DashboardContainer h1 {
        font-size: x-large;
    }
    .CopyLink {
        font-size: medium;
    }
    .LinkContainer input {
        font-size: small;
    }
    .AcceptingMessagesContainer {
        font-size: medium;
    }
    .ReloadButton button {
        left: 0;
    }
    .CardContainer {
        padding: 15px 0px 0 0;
        font-size: small;
    }
    .deleteButton {
        width: 25px;
        height: 25px;
        position: relative;
    }
    .CardContainerContent {
        padding: 5px 10px;
    }
    .PublicContainer {
        padding: 2vh;
    }
    .PublicContainer h1 {
        font-size: x-large;
    }
    .PublicContainer .formLabel {
        margin-top: 3vh;
        font-size: 2.5vh;
    }
    .PublicContainer textarea, .suggestMessages, .clickToSelect  {
        font-size: small;
    }
    .PublicContainer div:nth-child(3) {
        /* background-color: purple; */
        margin: 10px 0 0px 0;
    }
    .PublicContainer div:nth-child(4) {
        margin-bottom: 5px;
    }
    .SuggestMessagesContainer {
        padding: 2vh 0;
    }
    .SuggestMessagesContainer h3 {
        font-size: large;
    }
    .SuggestMessagesContainer p {
        font-size: small;
    }
    .geminiSuggestedMessages {
        font-size: x-small;
        text-wrap: auto;
        height: auto;
        margin: 2px;
    }
    .OnBoardContainer {
        flex-direction: column;
    }
    .OnBoardContainer div {
        text-align: center;
        font-size: large;
    }
    .OnBoardContainer button {
        font-size: small;
    }
}